@font-face {
  font-family: 'Futura PT';
  font-style: 350;
  font-weight: 350;
  src: 
  url('../fonts/FuturaPT-350.woff2') format('woff2'), 
  url('../fonts/FuturaPT-350.woff') format('woff'); 
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  src: 
  url('../fonts/FuturaPT-500.woff2') format('woff2'), 
  url('../fonts/FuturaPT-500.woff') format('woff'); 
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  src: 
  url('../fonts/FuturaPT-700.woff2') format('woff2'), 
  url('../fonts/FuturaPT-700.woff') format('woff'); 
}